- isEditing = () => !(Object.keys(recipe).length === 0);

h2=isEditing() ? "Edit Recipe" : "New Recipe"

form(
  action=isEditing() ? `/update/${recipe.id}?_method=PUT` : '/recipes',
  method='POST',

  hx-post=isEditing() ? false : '/recipes',
  hx-put=isEditing() ? `/update/${recipe.id}` : false,
  hx-target='#sidebar',
  hx-push-url=isEditing() ? `/recipes/${recipe.id}` : false
  hx-on::after-request='if(event.detail.successful) this.reset()',
)
  label(for='ingredients') ingredients:
  input#ingredients(type='text', name='ingredient', required, value=recipe.ingredient)

  label(for='preparationTime') preparationTime:
  input#preperationTime(type='text', name='preparationTime', required, value=recipe.preparationTime)

  div.actions
    button(type='submit') Submit





